* {
  box-sizing: border-box;
  font-size: 25px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

section {
  text-align: center;
}

.emphasize-noun {
  color: red;
  font-weight: bold;
}

.emphasize-text {
  color: #BD1FDE;
  font-weight: bold;
}

/*** typography ***/
h1 {
  font-size: 55px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 25px;
}

/*** main ***/
#main {
  text-align: right;
  margin-top: 10px;
}

#main label {
  font-size: 25px;
  padding-right: 35px;
  cursor: pointer;
}

#main label:hover {
  color: red;
}

/*** 1. Starting screen ***/
#starting-screen {
  background-color: yellow;
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

#starting-screen h1 {
  margin-top: 20vh;
  margin-bottom: 25px;
}

ol {
    font-size: 25px;
    list-style: none;
    counter-reset: chapters;
}

.main-list {
  display: inline-block;
}

ol li {
   display: block;
   padding-left: 35px;
   text-align: left;
   margin-bottom: 2px;
}

ol li:before {
  content: counters(chapters, ".") ". ";
  counter-increment: chapters;
  color: #104C80;
  font-weight: bold;
}

a {
  cursor: pointer;
}
a:hover {
  color: #D04606;
}

/*** 2. Atom ***/
#atom-picture {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.half {
  display: flex;
}

.particle {
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
}

.plus {
  position: relative;
}

.horizontal-line,
.vertical-line {
  background-color: black;
  position: absolute;
}

.horizontal-line {
  width: 20px;
  height: 5px;
  top: 15px;
  left: 8px;
}

.vertical-line {
  width: 5px;
  height: 20px;
  top: 8px;
  left: 15px;
}

.proton {
  background-color: red;
}

.neutron {
  background-color: rgb(157,161,201);
}

.electron {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: yellow;
  pointer-events: none;
}

.name {
  display: none;
  position: absolute;
  left: 60px;
  top: 0;
  z-index: 3;
  padding: 5px;
}

.particle:hover > .name {
  display: block;
}

.text {
  margin: 10px;
}

.link-source {
  font-size: 20px;
  margin-top: 15px;
}

/*** 3. Charge ***/


/*** 4. Circuit ***/
#curcuit {
  border: 2px solid blue;
  /*display: flex;*/
}

#interface {
  border: 2px solid green;
  width: 50%;
}

#description {
  width: 50%;
  margin: 10px;
  text-align: center;
}

#wrapper {
  margin: 25px;
  width: 90%;
  height: 40vh;
  position: relative;
}

.border {
  background-color: grey;
  position: absolute;
  z-index: 2;
}

#right, #left {
  width: 25px;
  height: 100%;
}

#top, #bottom {
  height: 25px;
  width: calc(100% - 50px);
  left: 25px;
}

#bottom {
  bottom: 0;
}

#right {
  right: 0;
}

#battery {
  width: 50px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: calc(100% - 37.5px);
  top: 35%;
  z-index: 3;
}

#bulb {
  position: absolute;
  top: 35%;
  z-index: 3;
}

#bulb-head {
  height: 70px;
  width: 60px;
  background-color: yellow;
  border-radius: 95% 95% 40% 40%;
  position: absolute;
  left: calc(0% - 15px);
  border: 2px solid black;
}

#bulb-body {
  height: 30px;
  width: 40px;
  background-color: black;
  position: absolute;
  left: calc(0% - 6px);
  top: calc(35% + 70px);
}

#charge {
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: yellow;
  z-index: 3;
  position: absolute;
  left: 2px;
  top: 2px;
}

#description h1 {
  font-size: 45px;
  font-weight: bold;
  color: red;
}

/* buttons*/
button {
  margin-bottom: 20px;
}

#start {
  background-color: black;
  color: yellow;
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
}
