/*** tags for exponents ***/
sub, sup {
  /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only half as far down as the superscript moved up */
  bottom: -0.25em;
}

/*** universal styles ***/
* {
  box-sizing: border-box;
  font-size: 25px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

section {
  text-align: center;
}

p {
  margin-bottom: 5px;
}

.text {
  margin: 20px;
}

.link-source {
  font-size: 20px;
  margin-top: 15px;
}

.highlight-text1 {
  color: red;
  font-weight: bold;
}

.highlight-text2 {
  color: #BD1FDE;
  font-weight: bold;
}

.highlight-text3 {
  color: #19BA1C;
  font-weight: bold;
}

/*** typography ***/
h1 {
  font-size: 55px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 25px;
}

/*** Main ***/
#main {
  text-align: right;
  margin-top: 10px;
}

#main label {
  font-size: 25px;
  padding-right: 35px;
  cursor: pointer;
}

#main label:hover {
  color: red;
}

/***** Starting screen *****/
#starting-screen {
  background-color: yellow;
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

#starting-screen h1 {
  margin-top: 20vh;
  margin-bottom: 25px;
}

ol {
    font-size: 25px;
    list-style: none;
    counter-reset: chapters;
}

.main-list {
  display: inline-block;
}

ol li {
   display: block;
   padding-left: 35px;
   text-align: left;
   margin-bottom: 2px;
}

ol li:before {
  content: counters(chapters, ".") ". ";
  counter-increment: chapters;
  color: #104C80;
  font-weight: bold;
}

a {
  cursor: pointer;
}
a:hover {
  color: #D04606;
}

/***** 1. Atom *****/
#atom-picture {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.half {
  display: flex;
}

.particle {
  width: 35px;
  height: 35px;
  border-radius: 50% 50%;
}

.plus {
  position: relative;
}

.horizontal-line,
.vertical-line {
  background-color: black;
  position: absolute;
}

.horizontal-line {
  width: 20px;
  height: 5px;
  top: 15px;
  left: 8px;
}

.vertical-line {
  width: 5px;
  height: 20px;
  top: 8px;
  left: 15px;
}

.proton {
  background-color: red;
}

.neutron {
  background-color: rgb(157,161,201);
}

.electron {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: yellow;
  pointer-events: none;
}

.name {
  display: none;
  position: absolute;
  left: 60px;
  top: 0;
  z-index: 3;
  padding: 5px;
}

.particle:hover > .name {
  display: block;
}

/***** 2. Charge *****/
.horizontal-line-big {
  background-color: black;
  position: absolute;
  width: 20px;
  height: 5px;
  top: 22.5px;
  left: 15px;
}

.vertical-line-big {
  background-color: black;
  position: absolute;
  width: 5px;
  height: 20px;
  top: 15px;
  left: 22.5px;
}

/*** metallic balls ***/
#objects-attracted-picture,
#objects-repelled-picture {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 160px;
  border: 2px solid black;
}

/** attracted objects **/
/*left*/
#left-metallic-ball {
  transform-origin: 35% 10%;
}

#left-metallic-ball .line {
  position: absolute;
  top: 0%;
  left: 35%;
  height: 120px;
  width: 3px;
  background-color: black;
}

#left-metallic-ball .circle {
  position: absolute;
  top: 95px;
  left: calc(35% - 25px);
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50% 50%;
}

/*right*/
#right-metallic-ball {
  transform-origin: 65% 10%;
}

#right-metallic-ball .line {
  position: absolute;
  top: 0%;
  left: 65%;
  height: 120px;
  width: 3px;
  background-color: black;
}

#right-metallic-ball .circle {
  position: absolute;
  top: 95px;
  left: calc(65% - 25px);
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50% 50%;
}

/** repelled objects **/
#left-metallic-ball-repelled {
  transform-origin: 35% 10%;
}

#left-metallic-ball-repelled .line {
  position: absolute;
  top: 0%;
  left: 35%;
  height: 120px;
  width: 3px;
  background-color: black;
}

#left-metallic-ball-repelled .circle {
  position: absolute;
  top: 95px;
  left: calc(35% - 25px);
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50% 50%;
}

/*right*/
#right-metallic-ball-repelled {
  transform-origin: 65% 10%;
}

#right-metallic-ball-repelled .line {
  position: absolute;
  top: 0%;
  left: 65%;
  height: 120px;
  width: 3px;
  background-color: black;
}

#right-metallic-ball-repelled .circle {
  position: absolute;
  top: 95px;
  left: calc(65% - 25px);
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50% 50%;
}

/***** 3. Current *****/
#conductor-picture {
  width: 450px;
  height: 105px;
  border: 2px solid black;
  margin: 0 auto;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

#conductor-picture .vertical-line-big {
  top: calc(50% - 10px);
  left: 5%;
}

#conductor-picture .horizontal-line-big {
  top: calc(50% - 2.5px);
  left: calc(5% - 7.5px);
}

#conductor-picture #negative {
  top: calc(50% - 2.5px);
  left: calc(95% - 10px);
}

.carrier {
  position: absolute;
  right: 0%;
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: yellow;
  z-index: 3;
}

#carrier-1, #carrier-6, #carrier-11 {
 top: 0;
}
#carrier-2, #carrier-7, #carrier-12 {
 top: 20px
}
#carrier-3, #carrier-8, #carrier-13 {
 top: 40px
}
#carrier-4, #carrier-9, #carrier-14 {
 top: 60px
}
#carrier-5, #carrier-10, #carrier-15 {
 top: 80px
}

/***** 4. Circuit *****/
#curcuit {
  border: 2px solid blue;
}

#interface {
  border: 2px solid green;
  width: 50%;
}

#description {
  width: 50%;
  margin: 10px;
  text-align: center;
}

#wrapper {
  margin: 25px;
  width: 90%;
  height: 40vh;
  position: relative;
}

.border {
  background-color: grey;
  position: absolute;
  z-index: 2;
}

#right, #left {
  width: 25px;
  height: 100%;
}

#top, #bottom {
  height: 25px;
  width: calc(100% - 50px);
  left: 25px;
}

#bottom {
  bottom: 0;
}

#right {
  right: 0;
}

#battery {
  width: 50px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: calc(100% - 37.5px);
  top: 35%;
  z-index: 3;
}

#bulb {
  position: absolute;
  top: 35%;
  z-index: 3;
}

#bulb-head {
  height: 70px;
  width: 60px;
  background-color: yellow;
  border-radius: 95% 95% 40% 40%;
  position: absolute;
  left: calc(0% - 15px);
  border: 2px solid black;
}

#bulb-body {
  height: 30px;
  width: 40px;
  background-color: black;
  position: absolute;
  left: calc(0% - 6px);
  top: calc(35% + 70px);
}

#charge-circuit {
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: yellow;
  z-index: 3;
  position: absolute;
  left: 2px;
  top: 2px;
}

#description h1 {
  font-size: 45px;
  font-weight: bold;
  color: red;
}

/* buttons*/
button {
  margin-bottom: 20px;
}

#start {
  background-color: black;
  color: yellow;
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
}

@media screen and (max-width: 480px) {
  /*** Charge ***/
  #objects-attracted-picture,
  #objects-repelled-picture {
    width: 90%;
  }

  #left-metallic-ball {
    transform-origin: 21% 10%;
  }

  #left-metallic-ball .line {
    left: 21%;
  }

  #left-metallic-ball .circle {
    left: calc(21% - 25px);
  }

  #right-metallic-ball {
    transform-origin: 79% 10%;
  }

  #right-metallic-ball .line {
    left: 79%;
  }

  #right-metallic-ball .circle {
    left: calc(79% - 25px);
  }
}

/*@media screen and (max-width: 1200px) {

}*/
